/*///////////////// Add all your css in this file /////////////////*/


/*///////////////// TABLE OF CONTENT start /////////////////
- TAIWIND LAYERS
- TAILWIND CUSTOM COMPONENTS
- SASS STYLES
///////////////// TABLE OF CONTENT end /////////////////*/

@import '../scss/style.css';

/*TAIWIND LAYERS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* TAILWIND CUSTOM COMPONENTS */
@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700   ;
    }
    .box { 
        @apply p-4 bg-white border border-grey-border1 rounded-lg 
    }
    .input-box {
        @apply px-4 py-2 bg-grey-bg2 hover:bg-grey-border1 rounded-lg focus:ring-2 focus:outline-none focus:ring-grey-border1
    }
    .input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @apply text-grey-text1 opacity-100 /* Firefox */ 
    }
}


